.banner-one{
    background-image: url('../images/banner-2.jpg');
}
.banner-two{
    background-image: url('../images/banner-1.jpg');
}
.banner-three{
    background-image: url('../images/banner-3.jpg');
}
.banner-Four{
    background-image: url('../images/banner-4.jpg');
}